/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Css reset ^^^ */

/* colors and fonts*/

:root {
  /* Primary */
  --Green: hsl(75, 94%, 57%);
  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
}

body {
  font-family: "Inter", sans-serif;
  color: var(--White);
}

/* background */

.background {
  background-color: var(--Off-Black);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Profile card */

.profile-card {
  width: 384px;
  padding: 2.5rem;
  border-radius: 12px;
  background-color: var(--Dark-Grey);
  display: flex;
  flex-direction: column;
}

/* authors info */

.profile-card__authors-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card__authors-picture {
  width: 88px;
  height: 88px;
  border-radius: 1000px;
  margin-bottom: 1.5rem;
}

/* green text */
.profile-card__text--green {
  color: var(--Green);
}

.profile-card__authors-name {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.profile-card__authors-location {
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.profile-card__authors-biography {
  font-weight: 400;
  margin-bottom: 1.5rem;
}

/* links */

.profile-card__authors-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.profile-card__authors-links * {
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  outline: none;
}

.profile-card__authors-links li {
  background-color: var(--Grey);
  margin-bottom: 1rem;
  padding: 0.5em 0;
  border-radius: 12px;
  transition: 0.5s;
}

.profile-card__authors-links li:last-child {
  margin-bottom: 0;
}

/* Hover/focus effect */

.profile-card__authors-links li:hover {
  background-color: var(--Green);
  color: var(--Off-Black);
}

.profile-card__authors-links a:focus li {
  background-color: var(--Green);
  color: var(--Off-Black);
}
